<style type="text/css"> @import url("{{ site.base}}assets/css/paginator.css"); </style>



<div class="paginator">
  <h2>Posts</h2>
  <!-- <hr width="100%"> -->
  <ul class="nobullet">
      {% for post in paginator.posts %}
          <li class="page-list" >
              <a href="{{ site.base }}{{ post.url | remove_first: '/' }}">
                {% if post.category %}[{{ post.category }}] {% endif %}
                {{ post.title }}
              </a>
              <span style="float:right; font-size: 18px;">{{ post.date | date:"%b %d, '%y" }}</span>
              {% if post.tags %}
                <div class="tags">
                  {% for tag in post.tags %}
                    {{ tag }}{% if forloop.last == false %}, {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
          </li>
      {% endfor %}
  </ul>

  <!-- <hr width="100%"> -->
  <!-- {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %} -->
</div>