<ul class="navbar">
	<li class="navbar"><a href="{{ site.pdf_dir }}Sanha_Cheong_CV.pdf" target="_blank">cv</a></li>
	<li class="navbar">
	<div class="dropdown" style="float: right">
		<a href="{{ site.base }}teaching_advising/">Teaching</a>
		<div class="dropdown-content">
			<a href="{{ site.base }}teaching_advising/phy_GRE/">Physics GRE</a>
		</div>
		</div>
	</li>
	<li class="navbar"><a href="{{ site.base }}research/">Research</a></li>
	<li class="navbar"><a href="{{ site.base }}">Home</a></li>
</ul>