/*navbar*/
ul.navbar {
  height: 48px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

li.navbar {
  float: right;
}

li.navbar a {
  height: 24px;
  padding: 12px 16px;
}

li.navbar a:hover, li.navbar a:active {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropdown-content a:hover, .dropdown-content a:active {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.dropdown:hover .dropdown-content {
  display: block;
  position: fixed;
}
