h1 {
  font-size: 200%;
  color: #753333;
  letter-spacing: 0.1em;
  margin: 0;
}

.author-info {
  position: relative;
  // padding: 0px;
  // margin: 0;
}

.post-abstract {
  color: #222222;
  font-size: 100%;
}

blockquote {
  padding: 0.5ex 2.5em;
  margin-left: 2.5em;
  border-left: 3px solid #753333;
}

blockquote > p {
  text-indent: 0em;
}

.post-img {
  margin-left: -2.5em;
  margin-bottom: 0px;
  padding: 5px 0px;
  width: 1000px;
}

.img-caption {
  text-align: right;
  font-size: 80%;
  color: #000000;
  margin-top: -30px;
  margin-right: 5px;
}

.img-ref {
  font-size: 75%;
  color: #333333;
}