<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>{{ site.name }}{% if page.title %} | {{ page.title }}{% endif %}</title>
  <link rel="icon" type = "image/x-icon" href="{{ site.base }}assets/img/icon.png">
  <link rel="stylesheet" type="text/css" href="{{ site.base }}assets/css/pages_main.css">

  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:image" content="{{ site.meta_home_image }}" />
  <meta property="og:type" content="{{ site.type }}"/>
  <meta property="og:url" content="{{ site.url }}"/>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172918706-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-172918706-1');
  </script>
</head>



<body>

  <!-- js -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.base }}assets/js/app_main.js"></script>



  <a id="top"></a>

  {% include navbar.html %}

  {% include title.html %}

  {{ content }}  

  {% include footer.html %}
  
</body>

</html>
