<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>{{ site.name }}{% if page.category %} | [{{ page.category }}] {% endif %} {% if page.title %} {{ page.title }}{% endif %}</title>
  <link rel="icon" type = "image/x-icon" href="{{ site.base }}assets/img/icon.jpg">
  <link rel="stylesheet" type="text/css" href="{{ site.base }}assets/css/posts_main.css">

  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:type" content="{{ site.type }}"/>
  <meta property="og:url" content="{{ site.url }}"/>
</head>



<body>

  <!-- js -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.base }}assets/js/app_main.js"></script>



  <a id="top"></a>

  {% include navbar.html %}

  {% include title.html %}

  <div class="default-text">

  <div class="author-info">
    <table style="table-layout: fixed; width: 100%;">
      <tr>
        <td style="width:60%;">
          <h1>{{ page.title }}</h1>
        </td>
        {% if page.author %}
          <td style="position: absolute; bottom: 0; width:40%;" align="right">
            {% if page.date %}
              {{ page.date | date:"%b %d, %Y" }}
              <br>
            {% endif %}
            {% if page.translated %}
              <a href="{{ page.original_url }}">Original Post</a>
              <br>
            {% endif %}
            Written by {{ page.author }}
            {% if page.translated %}
              <br>
              Translated by {{ page.translated }}
            {% endif %}
          </td>
        {% endif %}
      </tr>
    </table>
  </div>

  {{ content }}  

  </div>

  {% include footer.html %}
  
</body>

</html>
